body{
	background: lightgray;
}
.maindiv{
	width: 50%;
}
.userdiv{
	background: rgb(230 230 230);
}
.userdiv img{
	max-height: 200px;
	max-width: 200px;
	border-radius: 50%;
}
.img1, .img5{
	height: 100px;
	width: 100px;
}
.img2, .img4{
	height: 150px;
	width: 150px;
}
.img3{
	height: 200px;
	width: 200px;
}
.productdiv{
	background: linear-gradient(rgb(177 190 211),rgb(235 240 250));
	height: auto;
}
.bottom-div{
	text-align: center;
}
.timer span{
	background: green;
	padding: 10px;
	color: white;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
}
.timer-text{
	margin-top: -8px;
}
.info-div{
	background: white;
	padding: 20px;
	margin: 50px;
}
.img-main-div{
	display: inline-flex;
}
.product{
	background: white;
	width: 170px;
	padding: 10px;
	border: 3px solid lightgray;
}
.product-image{
	height: 220px;
	width: 150px;
	border: 1px solid lightgray;
}